<!-- Add an ERB view file for returning the result of the game, rather than just sending a string. ?? need to ask about this, what does it mean? Is it so that the result can be styled?-->

<h1>The result is: <%= @game %></h1>
