<h1>Welcome to Rock, Paper, Scissors!</h1>
<body>
  <p>
    Rock beats Scissors<br>
    Paper beats Rock<br>
    Scissors beat Paper<br>
    Two of the same is a draw
  </p>

<body>

  <!-- does this page not need all the usual HTML stuff? divs, footers? How does it tie in with the layout page? -->
